:listening_port {
  tls off
  log / stdout "sidecar:podtag [{when}] \"{method} {uri}\" host={>Host} origin={>Origin} apikey={>apikey}{>api_key} clientid={>Clientid} agent={>User-Agent} response={status} size={size} latency={latency_ms}"
  errors stderr
  timeouts 10m

  proxy / destination:port {
    transparent
}
