:listening_port {
  tls off

  log / stdout "sidecar:podtag [{when}] \"{method} {uri}\" host={>Host} origin={>Origin} apikey={>apikey}{>api_key} clientid={>Clientid} tenant={>tenant} agent={>User-Agent} auth={>Authorization} response={status} size={size} latency={latency_ms}"
  log / stdout "sidecar:podtag [{when}] \"{method} {uri}\" host={>Host} origin={>Origin} apikey={>apikey}{>api_key} clientid={>Clientid} tenant={>tenant} agent={>User-Agent} auth={>Authorization} response={status} size={size} latency={latency_ms} debug={request_body}"  

  errors stderr
  timeouts 10m

  proxy /riot-core-services/api/platform/events/MOBILE/1005001/Failure localhost:9191 {
    transparent
  }

#/riot-core-services/api/platform/events/MOBILE/404001/Failure

  proxy /riot-core-services/api/platform/events/MOBILE/404001/Failure localhost:9191 {
    transparent
  }
  
  proxy / destination:port {
    transparent
}
